{{- if .chezmoi.config.data.ismsys2 }}
export STENA_PROJECTS_ROOT="/c/stena"
{{- end }}
{{- if or .chezmoi.config.data.iswsl .chezmoi.config.data.islinux}}
export MY_DATA_DIR="${HOME}/data"
export STENA_PROJECTS_ROOT="${MY_DATA_DIR}/projects/stena"
{{- end }}

export TM_LOCAL_DEV_PATH="${STENA_PROJECTS_ROOT}/tm-local-dev/"
export TM_INFRASTRUCTURE_PATH="${STENA_PROJECTS_ROOT}/tm-infrastructure"
export CA_INFRASTRUCTURE_PATH="${STENA_PROJECTS_ROOT}/freight-ca-infrastructure"

export DEFAULT_USER="sohan"

# customize fzf defaults (so we can keep page up/down) + some keybindings
export GIT_FUZZY_FZF_DEFAULT_OPTS="\
  --border \
  --layout=reverse \
  --bind 'ctrl-s:toggle-sort' \
  --bind 'change:top' \
  --no-height"
export GIT_FUZZY_STATUS_ADD_KEY='Ctrl-A'
export GIT_FUZZY_STATUS_COMMIT_KEY='Ctrl-S'
export GIT_FUZZY_STATUS_RESET_KEY='Ctrl-R'

# https://github.com/wfxr/forgit/issues/287#issuecomment-1474824973
export FORGIT_STASH_FZF_OPTS="--bind=\"ctrl-y:execute-silent(echo {} | cut -d: -f1 | tr -d '[:space:]' | pbcopy)\""
# sort branches by commit date
export FORGIT_CHECKOUT_BRANCH_BRANCH_GIT_OPTS="--sort=-committerdate"
export FORGIT_FZF_DEFAULT_OPTS="--preview-window=nohidden"

export FZF_DEFAULT_OPTS='--color=fg:#f8f8f2,bg:#282a36,hl:#bd93f9 --color=fg+:#f8f8f2,bg+:#44475a,hl+:#bd93f9 --color=info:#ffb86c,prompt:#50fa7b,pointer:#ff79c6 --color=marker:#ff79c6,spinner:#ffb86c,header:#6272a4'

# support nvmrc lazy versions
export ASDF_NODEJS_LEGACY_FILE_DYNAMIC_STRATEGY=latest_available

# large shell history - use XDG_STATE_HOME for persistent state
export HISTFILE="${XDG_STATE_HOME:-$HOME/.local/state}/zsh/history"

{{- if .chezmoi.config.data.ismsys2 }}
export PROJECT_PATHS=(/c/stena /c/dev /c/sloop)
export TM_SPEED_UP_COMPLETION=true
{{- end -}}
{{- if .chezmoi.config.data.iswsl}}
export PROJECT_PATHS=(~/data/projects/stena ~/data/projects ~/data/projects/lab)
export TM_SPEED_UP_COMPLETION=true
{{- end -}}
export ZSH=TRUE
