[data]
{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $release := .chezmoi.kernel.osrelease | lower -}}
{{- $isWSL   := and $isLinux (contains "microsoft" $release) -}}
{{- $isRealLinux := and $isLinux (not (contains "microsoft" $release)) -}}

{{- if $isWSL }}
iswsl = true
{{- else }}
iswsl = false
{{- end }}

{{- if $isRealLinux }}
islinux = true
{{- else }}
islinux = false
{{- end }}

{{- if $isWSL }}
winhome = {{ index (index (keeper "Gg8xsVI4FyDzaUej-ZnOsQ").fields 0).value 0 | quote }}
{{- else }}
winhome = ""
{{- end }}

[git]
command = "/usr/bin/git"
