[data]
{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $release := .chezmoi.kernel.osrelease | lower -}}
{{- $isWSL   := and $isLinux (contains "microsoft" $release) -}}
{{- $isRealLinux := and $isLinux (not (contains "microsoft" $release)) -}}


{{- if $isWSL }}
iswsl = true
{{- else }}
iswsl = false
{{- end }}

{{- if $isRealLinux }}
islinux = true
{{- else }}
islinux = false
{{- end }}

[git]
command = "/usr/bin/git"
