#!/bin/bash

# Brewfile hash: {{ include "Brewfile.tmpl" | sha256sum }}
brew update && brew upgrade
brew bundle -v || (echo "Brewfile failed, exiting early" && exit 1)
brew cleanup
if brew list | grep node; then
    brew uninstall --ignore-dependencies node
fi
